<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <!-- <httpErrors errorMode="Custom">
                <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            </httpErrors> -->
            <rules>
                <rule name="Canonical Host Name" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/hc" />
                    </conditions>
                    <action type="Redirect" url="https://help.blip.ai/404?redirectURL={R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <serverRuntime enabled="true" frequentHitThreshold="1" frequentHitTimePeriod="00:00:20" />
        <staticContent>
            <!-- <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" /> -->
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <!-- <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" /> -->
            <!-- <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" /> -->
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
            <!-- <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" /> -->
        </staticContent>
    </system.webServer>
</configuration>